attrs==24.2.0
boardgamegeek2==1.0.1
cattrs==24.1.2
certifi==2024.8.30
charset-normalizer==3.4.0
exceptiongroup==1.2.2
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.6
py-bgg==0.3.3
Pygments==2.18.0
requests==2.32.3
requests-cache==1.2.1
rich==13.9.4
six==1.16.0
textual==0.85.2
typing_extensions==4.12.2
uc-micro-py==1.0.3
url-normalize==1.4.3
urllib3==2.2.3
